<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css"
      type="text/css"
    /> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script
      class="jsbin"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
    ></script>
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="stylesheet" href="../styles/validation.css" />
    <link rel="stylesheet" href="../styles/dropzone.css" />
    <title>Registration</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.png" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <span class="brand-logo center">Registration</span>
          <a href="../index.html" class="right home-icon" id="home-el">
            <i class="material-icons">home</i>
          </a>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="card-panel card-relative">
        <div class="error card-panel" id="error_el">
          <div class="error_two">
            <div class="flex">
              <h4>Success</h4>
              <p>Your details are successfully submitted!</p>
            </div>
            <button class="btn-floating" id="buttons">OK</button>
          </div>
        </div>
        <div class="error_input_two card-panel" id="error_el_two">
          <div class="error_two">
            <div class="flex">
              <h4>Oh no!</h4>
              <p>Operation has not been completed!!</p>
            </div>
            <button class="btn-floating btn-floating_two" id="buttons_two">
              OK
            </button>
          </div>
        </div>
        <form class="form" id="form" enctype="multipart/form-data">
          <div class="card-panel dropzone_image">
            <div class="file-upload">
              <button
                class="file-upload-btn"
                type="button"
                onclick="$('.file-upload-input').trigger( 'click' )"
              >
                Add Image
              </button>

              <div class="image-upload-wrap">
                <input
                  class="file-upload-input"
                  type="file"
                  name="file"
                  id="file"
                  onchange="readURL(this);"
                  accept="image/*"
                />
                <div class="drag-text">
                  <h3>Drag and drop a file or select add Image</h3>
                </div>
              </div>
              <div class="file-upload-content">
                <img class="file-upload-image" src="#" alt="your image" />
                <div class="image-title-wrap">
                  <button
                    type="button"
                    onclick="removeUpload()"
                    class="remove-image"
                  >
                    Remove <span class="image-title">Uploaded Image</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <label for="register_name">Name</label>
          <input
            type="text"
            name="register_name"
            id="register_name"
            placeholder="Enter name"
          />
          <label for="register_phone">Phone Number</label>
          <input
            type="text"
            name="register_phone"
            id="register_phone"
            placeholder="Tel e.g 0728**"
          />
          <label for="register_county">County</label>
          <input
            type="text"
            name="register_county"
            id="register_county"
            placeholder="Enter county"
          />
          <label for="register_sub_county">Sub County</label>
          <input
            type="text"
            name="register_sub_county"
            id="register_sub_county"
            placeholder="Enter sub county"
          />
          <!-- <label for="register_groupnm">Group Name</label>
          <input
            type="text"
            name="register_groupnm"
            id="register_groupnm"
            placeholder="Enter group name"
          /> -->
          <!-- <label for="register_village">Village</label>
          <input
            type="text"
            name="register_village"
            id="register_village"
            placeholder="Enter village"
          /> -->
          <span class="flex_button">
            <button
              class="btn waves-effect color_change"
              type="button"
              onclick="registerBA()"
              id="register_button"
            >
              REGISTER
            </button>
            <button class="btn waves-effect color_change_two">
              UPLOAD DATA
            </button>
          </span>
        </form>
      </div>
    </div>
    <script src="../node_modules/dropzone/dist/dropzone-min.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/sweet.js"></script>
    <script src="../nav/home.js"></script>
    <!-- <script src="../nav/formpre.js"></script> -->
    <!-- <script src="../nav/validation.js"></script> -->
    <script src="../js/localstorage.js" type="text/javascript"></script>
    <script src="../nav/dropzone.js"></script>
  </body>
</html>
